body{
    background-color: #fafafa;
}

.first-container{
    display: flex;
    flex-direction: column;
    margin: 48px;
    gap: 10px;
}

.first-container .logo{
    align-self: flex-start;
    margin: 0px;
}

.first-container .links{
    margin: 0px;
    align-self: flex-end;
}